@font-face {
    font-family: 'SoDoSans';
    src: url(./fonts/SoDoSans-Regular.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'SoDoSans';
    src: url(./fonts/SoDoSans-Bold.woff) format('woff');
    font-weight: bold;
}